<div align="center">
    <br /><br /><h2 style="color:#000">Categories</h2>
    <div style="color:#000">
    <table border="0">
    	<tr>
        	<td>
            	<a  ng-click="gotocategoryproduct()"> Cloths</a>
            </td>
        </tr>
        <tr>
        	<td>
            	<a  ng-click="gotocategoryproduct()">Foods</a>
            </td>
        </tr>
        <tr>
        	<td>
            	<a  ng-click="gotocategoryproduct()">Electronics</a>
            </td>
        </tr>
        <tr>
        	<td>
            	<a ng-click="gotocategoryproduct()">Sports</a>
            </td>
        </tr>
        <tr>
        	<td>
            	<a  ng-click="gotocategoryproduct()">Transportations</a>
            </td>
        </tr>
        <tr>
        	<td>
            	<a  ng-click="gotocategoryproduct()">Gadgets</a>
            </td>
        </tr>
    </table>
    </div>
    
</div>