<img src="{{app.paths.theme('img/106709-1280.png')}}" width="300px" height="100px" align="left" />

<h3 style="color:#FFF">HTC One</h3>      
<p style="color:#FFF">By</p>
<p style="color:#FFF">Author name</p>

<p style="color:#FFF">description description description description description description description description description description description description description description description description description description <u>more</u> </p>

<br /><h3 style="color:#FFF"><u style="color:#FFF">Gallery</u></h3>
<form>
	<h3 style="color:#FFF"><u>Buy Option</u></h3>
    <div style="color:#FFF">
    	<p>Unit Price: </p>
    	<p>Color: </p>
        <p>Wholesale Price: </p>
        <p>Quality: </p>
        <p>Shipping Cost: </p>
        <p>Total Price: </p>
    </div>
    <button>sdasdsa</button>
    <button>awsdfas</button>
    <button>fsafsaf</button>
</form> 